<div id="AddForm" class="addEmployeeForm">
    <div class="container">
        <div class=" col-md-12">
            <form id="AddEmp" enctype="multipart/form-data">
                <div class="form">
                    <div class="row">
                        <div class="col-md-12 d-flex align-items-center justify-content-between mb-4">
                            <p class="page_heading h5">Add Employee</p>
                            <button type="button" onclick="closeAddForm()" id="addFormClose"
                                class="closeAction border-0">
                                <i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>


                    <div class="row">
                        <label for="upload_file" class="upload" id="drop-area">
                            <div class="col-md-12" id="card-img">
                                <div class="upload card align-items-center py-4 rounded-4" id="img-view">
                                    <div class="default" id="hidden">

                                        <img src="/images/profile.png" alt="" id="employeeProfilePic">
                                        <input type="file" name="employeeProfilePic" accept="image/*" id="image" hidden>
                                        <span>PNG,JPG files are allowed</span>
                                        <label for="image" class="image_upload">Upload Image</label>

                                    </div>
                                    <span id="image-Error" class="error"></span>
                                </div>

                            </div>
                    </div>


                    <div class="row data_input">

                        <div class="col-md-3 mb-4">
                            <label for="salutation" class="heading-main mb-3">Salutation</label>
                            <select id="salutation" class="form-select px-3 py-2" aria-label="Default select example">
                                <option value="" selected id="select">select</option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>

                            </select>
                            <span id="salutation-Error" class="error"></span>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="firstName" class="heading-main mb-3">First Name </label>
                            <input id="firstName" class="form-control px-3 py-2" type="text" placeholder="john">

                            <span id="firstName-Error" class="error"></span>
                        </div>
                        <div class="col-md-5 mb-4">
                            <label for="lastName" class="heading-main mb-3">Last Name </label>
                            <input id="lastName" class="form-control px-3 py-2" type="text" placeholder="Doe">
                            <span id="lastName-Error" class="error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label for="email" class="heading-main mb-3">Email address</label>
                            <input type="email" id="email" class="form-control px-3 py-2"
                                placeholder="mail@simmmple.com">

                            <span id="email-Error" class="error"></span>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="mobileNumber" class="heading-main mb-3">Mobile Number </label>
                            <input id="mobileNumber" class="form-control px-3 py-2" type="tel"
                                placeholder="enter mobile number">

                            <span id="mobileNumber-Error" class="error"></span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 mb-4">
                            <label for="date" class="heading-main mb-3">Date of Birth</label>
                            <input id="date" class="form-control px-3 py-2" type="date"
                                placeholder="select date of birth">
                            <span id="date-Error" class="error"></span>
                        </div>

                        <div class="col-md-6 d-flex flex-column mb-4">
                            <div class="heading-main mb-4">
                                <label for="gender">Gender</label>
                            </div>
                            <div class="d-flex gap-5">
                                <div class="d-flex gap-5">
                                    <!-- First radio button option: Male -->
                                    <div class="d-flex gap-2">
                                        <input class="form-check-input" type="radio" id="male" name="gender"
                                            value="male">
                                        <label for="male" class="radio-btn">Male</label>
                                    </div>

                                    <!-- Second radio button option: Female -->
                                    <div class="d-flex gap-2">
                                        <input class="form-check-input" type="radio" id="female" name="gender"
                                            value="female">

                                        <label for="female" class="radio-btn">Female</label>
                                    </div>
                                </div>
                                <span id="gender-Error" class="error"></span>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-12 mb-4">
                                <label for="qualification" class="heading mb-3">Qualification</label>
                                <input id="qualification" class="form-control px-3 py-2" type="text"
                                    placeholder="enter qualifications">

                                <span id="qualification-Error" class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <label for="address" class="heading-main mb-3">Address </label>
                            <input id="address" class="form-control px-3 py-2" type="text" placeholder="enter address">
                            <span id="address-Error" class="error"></span>
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col-md-6 mb-4">
                            <label for="country" class="heading-main mb-3">country </label>
                            <select class="form-select px-3 py-2" aria-label="Default select example" id="country">
                                <option value="" selected>select country</option>
                                <option value="India">India</option>
                                <option value="USA">USA</option>
                                <option value="Etc">Etc..</option>
                            </select>
                            <span id="country-Error" class="error"></span>
                        </div>

                        <div class="col-md-6 mb-4">
                            <label for="state" class="heading-main mb-3">state</label>
                            <select id="state" class="form-select px-3 py-2" aria-label="Default select example"
                                required>
                                <option value="" selected>select state</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Tamilnadu">Tamilnadu</option>
                                <option value="etc">etc...</option>
                            </select>

                            <span id="state-Error" class="error"></span>
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col-md-6 mb-4">
                            <label for="city" class="heading-main mb-3">City</label>
                            <input id="city" class="form-control px-3 py-2" type="text" placeholder="enter city">
                            <span id="city-Error" class="error"></span>
                        </div>

                        <div class="col-md-6 mb-4">
                            <label for="pin" class="heading-main mb-3">Pin/Zip</label>
                            <input id="pin" class="form-control px-3 py-2" type="text" placeholder="enter pin/zip">
                            <span id="pin-Error" class="error"></span>
                        </div>

                    </div>
                    <div class="row pb-3">
                        <div class=" col-lg-12 justify-content-end ">
                            <div class="form-footer d-flex gap-3 ">
                                <button type="button" onclick="closeAddForm()"
                                    class=" footer-btn px-4 py-3 btn-lg clr-light ">
                                    <p class="btn-txt">cancel</p>
                                </button>
                                <button type="button" id="addEmployee"
                                    class="footer-btn px-4 py-3 btn-lg  clr-primary ">
                                    <!--onclick="addEmployeeForm() -->
                                    <p class="btn-txt">Add Employee</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>