<div class="employeeDetails">
    <div class="detailsBody">
        <div class="bgImage_box">
            <img src="/images/bgImage.png" alt="">
        </div>

        <div id="EmployeeProfilePic" class="employee_img">
            <img src="/images/employee.png" alt="">
        </div>
        <div class="userDetails">
            <h4 id="EmployeeName">Mr. Michael Johnson</h4>
            <p id="EmployeeMail">michaeljohnson@example.com</p>
        </div>
        <div class="userDetails-body">
            <div class="details ">
                <div class="detailsContainer flex">
                    <label>Gender</label>
                    <span id="Gender">Male</span>
                </div>
                <div class="detailsContainer flex">
                    <label>Age</label>
                    <span id="Dob">38</span>
                </div>
                <div class="detailsContainer flex">
                    <label>Date of Birth</label>
                    <span id="Age">20 December 1985</span>
                </div>

            </div>
            <div class="details">

                <div class="detailsContainer flex">
                    <label>Mobile</label>
                    <span id="PhoneNumberDetails">9744082307</span>
                </div>
                <div class="detailsContainer flex">
                    <label>Qualification</label>
                    <span id="QualificationsDetails">Bachelor's Degree</span>
                </div>
            </div>
            <div class="details">
                <div class="detailsContainer flex ">
                    <label>Address</label>
                    <span id="AddressDetails" class="addressBox">789 Pine St Dummy Address, Chicago, Texas, USA
                        123456</span>
                </div>
                <div class="detailsContainer flex">
                    <label>Username</label>
                    <span id="UsernameDetails">michaeljohnson</span>
                </div>
            </div>

        </div>
        <div class="employee_details-action">
            <div class="actionBox">
                <button type="button" id="deleteViewEmployee" class="filledBtn delete-btn">
                    <!--onclick="deleteConfirmPopup() -->
                    <span class="btnTxt">Delete</span>
                </button>
                <button type="button" id="editViewEmployee" class="filledBtn edit-btn">
                    <span class="btnTxt">Edit details</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="overlay" class="overlay"></div>