<div class="footer">
    <p class="footerText rightAlign">© 2023 All Rights Reserved. <span> Stackup</span></p>
    <p class="footerText">Terms of Use</p>
    <p class="footerText">Privacy Policy</p>
</div>