<div class="navBar">
    <div class="navBar-title">
        <p>Dashboard / Employees </p>
        <h5>Employees</h5>
    </div>
    <div class="inputArea">
        <input class="searchInput" id="searchInput" type="text" placeholder="&#xF002" onkeyup="searchInput()" ;
            style="font-family:Arial, FontAwesome ">
        <i class="fa-regular fa-bell"></i>
        <img src="./images/Avatar Style 6.png" alt="" />
        </input>
    </div>
</div>