<div class="tableHead">
    <div class="title">
        <h4>Employee List</h4>
    </div>
    <div class="pageSelect">
        <select id="employeeNumber" class="pageCount" aria-label="Default select example">
            <option selected value="5">5</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

        </select>

        <label id="employeeTotal"> of 5 </label>

    </div>
    <button type="button" onclick="actionAddEmployee()" class="button filledBtn">
        <span class="btnTxt">Add Employee</span>
    </button>
</div>