<table>
    <thead id="tableHead">
        <tr class="tr my-4">
            <th>
                <p>SI.NO <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>Name <i class="fa-solid fa-chevron-down"></i></p>
            </th>

            <th>
                <p>Email <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>Phone <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>DOB <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>Gender <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>Country <i class="fa-solid fa-chevron-down"></i></p>
            </th>



        </tr>
    </thead>

    <tbody class="tableBody" id="tableBody">


        <tr>
            <td>#01</td>
            <td>
                <!-- <div class="employeeImg"><img src="/Employee_management/resourse/Rectangle 348.png" alt="">Mr. Michael
                    Johnson
                </div> -->
            </td>
            <td>davidbrown@example.com</td>
            <td>2788945521</td>
            <td>Female</td>
            <td>12 May 1990</td>
            <td>Japan</td>
            <td class="menu_icon"><button class="three_dot_list"
                onclick="three_dot_list()"><i class="fa-solid fa-ellipsis"></i></button>
            </td>
          
            <!-- <div class="employee_action_btn" onclick="employee_action()">
                <button class="employee_btn view_btn"><i class="fa-solid fa-eye"></i>View
                    Details</button>
                <button class="employee_btn edit_btn" onclick="edit_btn()"><i
                        class="fa-solid fa-pen"></i>Edit</button>
                <button class="employee_btn delete_btn" onclick="delete_form()"><i
                        class="fa-regular fa-trash-can"></i>Delete</button>
                         <button class="close_btn" onclick="close_btn()"><i class="fa-solid fa-xmark"></i></button> 
            </div> -->

        </tr>



    </tbody>
</table>